.header-link{
    display: block;
    padding: 13px 24px 11px 12px;
    position: relative;

}
.header-link.active{
    background: #252836;
    border-radius: 12px 0px 0px 12px;
}
.header-link.active svg{
   fill: #fff;
}
.sidebar{
    background: #1F1D2B;
    padding: 0 0 0 12px;
    height: 100vh;
}
.header-link.active .icon{
    background: #EA7C69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
    border-radius: 8px;
    width: 56px;
    height: 56px;
     display: block;
 }
 .header-link.active::before{
    content: "";
    display: block;
    background-image: url("../../assets/images/Rectangle\ 24.svg");
 
    width: 12.02px;
    height: 12px;
    position: absolute;
    top: -10px;
    right: 0;
 }
 .header-link.active::after{
    content: "";
    display: block;
    background-image: url("../../assets/images/Rectangle\ 25.svg");
    width: 12.02px;
    height: 12px;
    position: absolute;
    bottom: -10px;
    right: 0;
 }
 .icon{
   width: 56px;
   height: 56px;
   position: relative;
   display: block;

 }
 .logo{
    width: 56px;
    height: 56px;
    position: relative;
    display: block;
    background: rgba(235, 150, 106,0.25);
    border-radius: 12px;
 }
 .Logo-header{
     padding: 26px 24px 24px 12px;
 }
 .logo img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
 }
.header-link svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill:  #EA7C69;
}

